{% set typeMap = {
	'string':  'NSString *',
	'dict':    'NSMutableDictionary *',
	'integer': 'NSNumber *',
	'number':  'NSNumber *',
	'boolean': 'NSNumber *',
	'null':	   'Object *',
	'any':	   'Object *'	
} %}

{% set primitivesTypeMap = {
	'string':  'NSString *',
	'dict':    'NSDictionary *',
	'integer': 'NSInteger',
	'number':  'NSFloat',
	'boolean': 'BOOL',
	'null':	   'Object *',
	'any':	   'Object *'	
} %}

{% set primitivesTypeIsRef = {
	'string':  True,
	'dict':    True,
	'integer': False,
	'number':  False,
	'boolean': False,
	'null':	   True,
	'any':	   True
} %}

{% macro convertJsTypeToObjc(jsType, usePrimitives=False) -%}
    {%- if usePrimitives -%}
        {%- if jsType in primitivesTypeMap -%}
            {%- set varType = primitivesTypeMap[jsType] -%}
            {%- set isRef = primitivesTypeIsRef[jsType] -%}
        {%- else -%}
            {%- set varType = variableDef.type + ' *' -%}
            {%- set isRef = True -%}
        {%- endif -%}
    {%- else -%}
        {%- set varType = jsType + ' *' if not jsType in typeMap else typeMap[jsType] -%}
        {%- set isRef = True -%}
    {%- endif -%}
    {{ caller(varType, isRef) }}
{%- endmacro -%}

{% macro renderWithConvertedType(variableDef, usePrimitives=False) -%}

    {%- if usePrimitives -%}
        {%- if variableDef.type in primitivesTypeMap -%}
            {%- set objcType = primitivesTypeMap[variableDef.type] -%}
            {%- set isRef = primitivesTypeIsRef[variableDef.type] -%}
        {%- elif variableDef.isEnum -%}
            {%- set objcType = variableDef.type -%}
            {%- set isRef = False -%}
        {%- else -%}
            {%- set objcType = variableDef.type + ' *' -%}
            {%- set isRef = True -%}
        {%- endif -%}
    {%- else -%}
        {%- if variableDef.isEnum -%}
            {%- set objcType = variableDef.type -%}
            {%- set isRef = False -%}
        {%- else -%}
            {%- set objcType = variableDef.type + ' *' if not variableDef.type in typeMap else typeMap[variableDef.type] -%}
            {%- set isRef = True -%}
        {%- endif-%}
    {%- endif -%}

    {%- if variableDef.isArray -%}
         {%- set varType = "NSMutableArray *" -%}
         {%- set itemType = objcType -%}
    {%- else -%}
         {%- set varType = objcType -%}
         {%- set itemType = None -%}
    {%- endif -%}

    {{ caller(variableDef, varType, isRef, itemType) }}

{%- endmacro %}

{%- macro propertyDecl(variableDef, usePrimitives=False) -%}

	{%- call(varDef, varType, isRef, itemsType) renderWithConvertedType(variableDef, usePrimitives) -%}

	{%- if varDef.name == "id" -%}
	    {%- set propName = "id_" -%}
	{%- else -%}
	    {%- set propName = varDef.name -%}
	{%- endif-%}

	@property({{'strong, ' if isRef}}nonatomic) {{ varType }} {{ propName }};
	{%- endcall -%}

{%- endmacro -%}

{%- macro lazyPropGetter(variableDef, usePrimitives=False) -%}
{%- call(varDef, varType, isRef, itemsType) renderWithConvertedType(variableDef, usePrimitives) -%}
{%- if varType == "NSDictionary *" or varType == "NSMutableArray *" -%}

{%- if varDef.name == "id" -%}
    {%- set propName = "id_" -%}
{%- else -%}
    {%- set propName = variableDef.name -%}
{%- endif -%}

{% set ivarName = '_' + propName %}
-({{ varType }}) {{ propName }} {
	
	if( ! {{ ivarName }} ) {
		{{ ivarName }} = [{{varType|replace(' *','')}} new];
	}

	return {{ivarName}};
}
{%- endif -%}
{%- endcall -%}
{%- endmacro -%}

{%- macro initVarToDefault(variableDef, usePrimitives=False) -%}
{%- call(varDef, varType, isRef, itemsType) renderWithConvertedType(variableDef, usePrimitives) -%}
{%- if not varDef.default == None -%}
{% set propName = variableDef.name %}
{% set ivarName = '_' + propName %}
{%- if not isRef -%}
        {{ ivarName }} = {{varDef.default}};
{% elif varType == "NSNumber *" %}
        {%- if varDef.default == False %}
        {{ ivarName }} = @NO;
        {%- elif varDef.default == True %}
        {{ ivarName }} = @YES;
        {%- endif -%}
{%- endif -%}
{%- endif -%}
{%- endcall -%}
{%- endmacro -%}

{%- macro renderMetaGetters(ivarDefs, varType) -%}

{%- if varType == "array" -%}

{%- for ivar in ivarDefs -%}
{% if ivar.isArray %}

{{ defs.propertyDecl(v) }}
{% endif %}


{%- endfor %}

{%- endif -%}


{%- endmacro -%}